/* Container for the feature boxes */
.feature-box-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: stretch; /* Stretch boxes to match height */
  gap: 20px; /* Space between boxes */
  flex-wrap: wrap; /* Wrap boxes on smaller screens */
  padding: 20px;
  min-height: 35vh;
}

/* Individual feature box */
.feature-box {
  width: 300px; /* Fixed width */
  background-color: #f8f9fa; /* Light background color */
  border: 2px dashed #ccc; /* Dashed outline */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  transition: transform 0.3s ease; /* Smooth hover animation */
  padding: 20px;
}

/* Hover effect */
.feature-box:hover {
  transform: translateY(-10px); /* Move the box up slightly */
}

/* Image styling */
.feature-box__image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

/* Title styling */
.feature-box__title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333;
}

/* Description styling */
.feature-box__description {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}


  /* Footer styling */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
}

footer img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

footer p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}


/* Define the custom font */
@font-face {
  font-family: 'Vazirmatn-Black';
  src: url('/fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn-Bold';
  src: url('/fonts/vazirmatn-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Apply the font to the entire website */
body {
  font-family: 'Vazirmatn-Black', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

/* Use bold font for headings */
h3, h4, h5, h6 {
  /* font-family: 'Vazirmatn-Bold', sans-serif; */
  font-weight: bold;
  color: #333;
}

/* Fallback for Older Browsers */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-Black.woff2') format('woff2'),
       url('/fonts/Vazirmatn-Black.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Base styles for the navbar */
